@media screen and (max-width: 1300px) and (min-width: 75em) {
    html {
        font-size: 1.5vw;
    }
}

.addSubForm {
    border: 1px solid #329d9c;
    background-color: #329d9c;
    color: white;
    display: grid;
    grid-template-columns: auto;
    border: 1px solid black;
}

::placeholder {
    color: #329d9c;
}

#AddCardButton {
    background-color: #205072;
    color: white;
    cursor: pointer;
}

#categoryselect {
    color: #329d9c;
}

.displayBox {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    padding: 5px;
    width: 30%;
    margin: 5px 5px 13px 10px;
    float: left;
    font-size: 1em;
    box-shadow: 5px 5px 15px #329d9c;
    cursor: pointer;

    p {
        padding: 5px;
    }
}

.displayBox:hover {
    transform: scale(1.1, 1.1)
}