@media screen and (max-width: 1300px) and (min-width: 75em) {
  html {
    font-size: 1.5vw;
  }
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}


#midContainer {
  display: grid;
  grid-template-columns: auto auto;
}

.addSubForm {
  border: 1px solid green;
  display: grid;
  grid-template-columns: auto;
}

#summary {
  border: 1px solid purple
}

#welcome {
  border: 1px solid orange
}

#cardContainer {
  border: 1px solid blue;
  display: flex;
}

#subCard {
  border: 1px solid pink;
}


#login {
  justify-content: center;
  display: flex;
}

.loginForm {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  padding-top: 1.0rem;

}

.base-container {
  height: 200vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #cff4d2;
}


.content {
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 10px;
  background-color: #7be495;
  box-shadow: 5px 5px 10px #205072;
  margin-top: 2.5rem;
  transition: transform 1s;
}

.content:hover {
  transform: rotateZ(0.5deg);
  transition-duration: 1s;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;


}

.displayContainer {
  background-color: #7be495;
}

label {
  display: block;
  font-size: 0.875rem;
  text-transform: capitalize;
  letter-spacing: 1px;
  color: #0A8085;

}

input {
  margin-top: 0px;
  min-width: 18em;
  padding: 0px 10px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  border-radius: 4px;
  transition: all 250ms ease-in-out;
  letter-spacing: 1px;
  height: 36px;
  margin-bottom: 1rem;
  border: 0
}

input:focus {
  border: 3px solid #0A8085;
  outline: none;
}





.button {
  color: white;
  width: 40%;
  height: 3em;
  background-color: #0A8085;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 0.25em;
  cursor: pointer;
  border: transparent;
  justify-self: center;
}

.logoimage {
  margin-top: 1.5rem;
}

.addSubForm {
  border: 1px solid #329d9c;
  background-color: #329d9c;
  color: white;
  display: grid;
  grid-template-columns: auto;
  border: 1px solid black;
}

::placeholder {
  color: #329d9c;
}

#AddCardButton {
  background-color: #205072;
  color: white;
  cursor: pointer;
}

#categoryselect {
  color: #329d9c;
}

.displayBox {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  padding: 5px;
  width: 30%;
  margin: 5px 5px 13px 10px;
  float: left;
  font-size: 1em;
  box-shadow: 5px 5px 15px #329d9c;
  cursor: pointer;

  p {
    padding: 5px;
  }
}

.displayBox:hover {
  transform: scale(1.1, 1.1)
}

.button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#signup-box{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#signup-box > Link {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  text-decoration: none;
  color: inherit;
}

#sign-butt{
  text-decoration: none;
  color: white;
}